* {
  padding: 0;
  margin: 0;
}



html, body {
  height: 100%;
}

body {
  font-family: 'Open Sans',sans-serif;
  color: #fff;
  font-size: 16px;
}

ul {
  padding: 0;
  margin: 0;
}

ul, li {
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin-top: 0;
}

img {
  width: 100%;
}

.wrapper {
  background-color: #001821;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.wrapper_main {
  background: url('../../img/hero-top.png') center top no-repeat, url(../../img/hero-bot.png) right bottom 165px no-repeat;
  background-color: #001821;
}
.section-title{
  color: #fff;
  font-size: 36px;
  font-weight: 800;
}
