* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 16px;
}

ul {
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

p {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #001821;
}

.wrapper_main {
  background: url('../../img/hero-top.png') center top no-repeat, url(../../img/hero-bot.png) right bottom 165px no-repeat;
  background-color: #001821;
}

.reviews--wrapper {
  background-color: #001821;
}

.container {
  width: 1141px;
  margin: 0 auto;
}

.btn {
  background: #FFFFFF;
  border-radius: 35px;
  padding: 17px 30px;
  color: #F5170E;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  border: 1px solid #F5170E;
  transition: .2s;
}

.btn:hover {
  box-shadow: 0 0 25px 0 rgba(245, 23, 14, 1);
  background: #F5170E;
  color: #fff;
}

.button {
  color: #fff;
  background: #F5170E;
  padding: 18px 40px;
}

.btn--color--black {
  background: #2B2B2B;
  border: 1px solid #2B2B2B;
  color: #fff;
  padding: 18px 40px;
}

.btn--color--red {
  background: #F5170E;
  color: #fff;
  padding: 18px 40px;
}

.welcome__button {
  color: #fff;
  background: #F5170E;
  padding: 18px 58px;
}