.footer-container {
  margin-top: auto;
}

.footer-container__content {
  border-top: 1px solid #FFFFFF;
}

.footer-container__content {
  height: 134px;
}

.footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #001821;
}

.footer__col {
  display: flex;
  align-items: center;
}

.footer__col--align--right {
  justify-content: flex-end;
}

.contacts__desc {
  color: #9a9a9a;
  font-size: 11px;
  margin-bottom: 7px;
}

.socials {
  display: flex;
  margin-right: 64px;
}

.socials__item {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  position: relative;
  margin-right: 10px;
}

.socials__item:hover::before {
  opacity: 1;
}

.socials__item:hover::after {
  opacity: 0;
}

.socials__item--icon--telegram::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  background: url(../../img/sprite.png) -10px -10px;
  transition: .3s;
}

.socials__item--icon--telegram::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  background: url(../../img/sprite.png) -66px -10px;
  opacity: 0;
  transition: .3s;
}

.socials__item--icon--vk::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  background: url(../../img/sprite.png) -122px -10px;
  transition: .3s;
}

.socials__item--icon--vk::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  background: url(../../img/sprite.png) -178px -10px;
  opacity: 0;
  transition: .3s;
}

.socials__item--icon--fb::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  background: url(../../img/sprite.png) -234px -10px;
  transition: .3s;
}

.socials__item--icon--fb::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  background: url(../../img/sprite.png) -290px -10px;
  opacity: 0;
  transition: .3s;
}

.socials__item--icon--insta::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  background: url(../../img/sprite.png) -346px -10px;
  transition: .3s;
}

.socials__item--icon--insta::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  background: url(../../img/sprite.png) -402px -10px;
  opacity: 0;
  transition: .3s;
}


