.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  padding-top: 27px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 122px;
}

.header__col {
  display: flex;
  align-items: center;
}

.header__col--align--right {
  justify-content: flex-end;
}

.header__logo {
  display: block;
  top: 29px;
  left: 0;
}

.logo {
  display: block;
  width: 85px;
  height: 36px;
  margin-right: 80px;
}

.header__nav {
  top: 40px;
  left: 166px;
}

.site-nav__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 50px;
}

.site-nav__link {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}

.site-address {
  right: 8px;
  font-style: normal;
  text-align: right;
}

.site-address__link {
  text-decoration: none;
  font-size: 26px;
  color: #FFFFFF;
  margin-bottom: 9px;
}

.site-address__schedule {
  font-size: 13px;
  color: #FFF;
  text-decoration: underline;
  cursor: pointer;
}

.button {
  background: #F5170E;
  color: #fff;
}

.site-address__schedule {
  position: relative;
  cursor: pointer;
}

.site-address:hover >.dropdown__menu {
  opacity: 1;
  top: 80px;
}

.dropdown__menu {
  opacity: 0;
  position: absolute;
  background: #EDEDED;  
  border-radius: 5px;
  height: 69px;
  top: 80px;
  width: 157px;
  margin-left: 33px;
  transition: 0.5s;
  top: -5000px
}

.dropdown__menu:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 42px solid transparent;
  border-right: 42px solid transparent;
  border-bottom: 26px solid #EDEDED;
  margin-top: -8px;
  transition: 0.5s;
  right: 11px;
}

.dropdown__list {
  padding: 12px 17px;
}

.dropdown__item {
  font-size: 13px;
  line-height: 21px;
  color: #1E1F20;
  text-align: left;
}

.dropdown--item {
  font-weight: bold;
}