.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  padding-top: 27px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 122px;
}

.header__col {
  display: flex;
  align-items: center;
}

.header__col--align--right {
  justify-content: flex-end;
}

.header__logo {
  display: block;
  top: 29px;
  left: 0;
}

.logo {
  display: block;
  width: 85px;
  height: 36px;
  margin-right: 80px;
}

.header__nav {
  top: 40px;
  left: 166px;
}

.site-nav__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 50px;
}

.site-nav__link {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}


.site-address {
  right: 8px;
  font-style: normal;
  text-align: right;
}

.site-address__link {
  text-decoration: none;
  font-size: 26px;
  color: #FFFFFF;
  margin-bottom: 9px;
}

.site-address__schedule{
  font-size: 13px;
  color: #FFF;
  text-decoration: underline;
}

.button {
  background: #F5170E;
  color: #fff;
}