.hero__text-section {
  width: 45%;
  margin-bottom: 269px;
}

.hero__title {
  font-size: 72px;
  font-weight: bold;
  color: #FFF;
  line-height: 1.4;
  margin-bottom: 27px;
}
.hero__subtitle {
  font-size: 18px;
  color: #FFF;
  margin-bottom: 51px;
}


