.inner-section {
  background: #fff;
  color: #1A1B1E;
}

.inner-section--bg--grey {
  background: #F4F5F5;
}

.inner-section__container{
  margin-bottom: 40px;
}

.inner-section__title {
  font-weight: bold;
  font-size: 48px;
  margin-bottom: 88px;
  padding-top: 92px;
}

.partners {
  display: flex;
  flex-wrap: wrap;
}

.partner__item {
  margin-bottom: 64px;
}

.partnerts__link {
  text-decoration: none;
  display: flex;
  width: 226px;
  height: 67px;
  align-items: center;
  justify-content: center;
}

.airlines {
  margin-left: 62px;
}

.fly {
  margin-left: 67px;
}

.luft {
  margin-left: 107px;
}

.airbaltic {
  width: 185px;
}

.pegasus {
  margin-left: 92px;
  width: 179px;
}

.ural {
  width: 300px;
  margin-left: 75px;
}

.pegas {
  height: 49px;
  width: 252px;
  margin-left: 55px;
}