.offers__title::after {
  content: url(../../img/flame.png);
  margin-left: 12px;
}

.section-title{
  color: #fff;
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 55px;
}

.offers-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 130px;
  
}

.offers-list__item:last-child {
  margin-right: 0;
}

.offer {
  width: calc(100% / 3 - 18px);
  background-color: #fff;
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
  min-height: 450px;
}

.offer_pic {
  height: 144px;
}

.offer__img {
  height: 100%;
  object-fit: cover;
  object-position: center;
  margin-bottom: 4px;
}

.offer__content {
  padding-left: 22px;
  padding-right: 15px;
  margin-top: 30px;
}

.offer__title {
  font-weight: bold;
  color: #000;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 23px;
}

.offer__feachers {
  display: flex;
  justify-content: space-between;
  margin-bottom: 23px;
  padding-left: 6px;
}

.offer__feacher:last-child {
  margin-right: 0;
  padding-right: 47px;
}

.offer__feacher-img {
  width: auto;
  margin-right: 8px;
}

.offer__feacher-text {
  color: #666;
  position: relative;
  top: -6px;
  size: 16px;
}
.offer_description {
  font-size: 14px;
  line-height: 21px;
  color: #303030;
  margin-bottom: 40px;
}


