.pager {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 145px;
}

.pager__display {
  margin-right: 36px;
}

.pager__list {
  display: flex;
  align-items: center;
}

.pager__item {
  text-align:center
}

.pager__item--active .pager__link {
  background: #fff;
  color: #F5170E;
}

.pager__link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  line-height: 32px;
}

